@model BookInventory.Models.Book

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <h3 class="bd-title" id="content">Delete Book</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Are you sure want to delete this book ?</div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="GenreId" class="control-label">Genre</label>
                        <input disabled asp-for="MsGenre.Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input disabled asp-for="Title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Author" class="control-label"></label>
                        <input disabled asp-for="Author" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="PublishYear" class="control-label"></label>
                        <input disabled asp-for="PublishYear" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ISBN" class="control-label"></label>
                        <input disabled asp-for="ISBN" class="form-control" />
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
                            <a class="btn btn-sm btn-dark" asp-action="Index">Back to List</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>